.idea
.vscode/
dist/
build/
logs/
node_modules/
jspm_packages/
typings/
lib-cov/
coverage/
bower_components/
.env
.DS_Store
.nyc_output
.grunt
.lock-wscript
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.next
.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.pid
*.seed
*.pid.lock
*.tgz